# Copy values to Render -> Environment
API_ID=35828291
API_HASH=c025ee9d01d73b9d738d4f3e5e6137e2
BOT_TOKEN=8728584423:AAFpNbqPaBx9MUR36sHuqyd33nHH7bCxQe0
# Generate via gen_session.py (Pyrogram v2 user session string). Required for joining VC.
SESSION_STRING=BQIiskMAukI__8yuI6z3itiU_dpIRp00CbRSQJJWK-sujY9AcnsQQ2dCxL69Pj7mfgG3iqbUMSuc36G6Df3U3nl0S5fWnRiDpdUKtuR5wdw5-ZfFxMPpdihl_T57Bsy5z9Gvjun02tFNvVev9_l1MPIllB96JkBZbPw-yDlMGQ5LnUxmd2jnKfv94fnGQLlx9EuUllb6-4rz_sZBayltQd8ivTieW_3P3ryK0Wy8IQGTX2xklIq-upkXy179JORwZVbmFS4L8nfzq_Xu5pn492qGgyGCu7GrF7rpcV3R1Eo7bzC1XUBm4Hnjdb0klr5YsQBK9UYHeygUuWGScQmMFXZSg_XH8gAAAAIIQ6DnAQ

# Optional: direct https URL to a banner image for /start
START_IMAGE=https://envs.sh/Lks.jpg
